.menuAndLogoBox {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  user-select: none;
}

.menuBox svg {
  fill: white;
  width: 32px;
  padding: 4px;
  padding-top: 9px;
}

.menuBox:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.logoBox {
  height: 20px;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 21px;
  gap: 5px;
  color: white;
}

.logoBox img {
  height: 100%;
  width: 100%;
}
