.grid-wrapper {
  padding-top: 4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.5rem;

  width: fit-content;
  margin: 0 auto;
}
