.item {
  display: flex;
  gap: 2rem;
}

.item img {
  width: 246px;
  aspect-ratio: 1.78;
  object-fit: cover;
  border-radius: 8px;
}

.item__name {
  color: #f1f1f1;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.item__date {
  color: #aaaaaa;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
}
