.dialog {
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.dialog > * {
  padding: 8px 10px;
}

.dialog header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  line-height: 2.2rem;
}

.close-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-btn {
  fill: white;
}
