.dialog-container {
}

.image-container {
  width: 450px;
  position: relative;
}

.image-container img {
  width: 100%;
}

.table {
  width: 100%;
  font-size: 1.8rem;
}

.table-row--active {
  background-color: cadetblue;
}

.table td {
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
}

.table td:nth-child(1) {
  text-align: left;
  padding-left: 2rem;
}

.table td:nth-child(2) {
  background-color: rgba(255, 255, 0, 0.274);
}

.table td:nth-child(3) {
  background-color: rgba(0, 174, 255, 0.274);
}

.table td:nth-child(4) {
  background-color: rgba(0, 255, 42, 0.274);
}

.table td:has(.td-ps:hover) {
  background-color: red;
}

.table thead td:nth-child(2),
.table thead td:nth-child(3),
.table thead td:nth-child(4) {
  border-bottom: 1px dashed #2a2a0f;
  color: black;
}

.controller-dot-mark {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #52e399;
  opacity: 0.5;
}

.controller-dot-mark:hover {
  cursor: pointer;

  opacity: 0.7;
}

.control-icon {
  image-rendering: pixelated;
  height: 48px;
}
