.searchBox {
  height: 40px;

  display: flex;
  align-items: center;

  position: relative;
}

.searchBox input {
  background-color: hsl(0, 0%, 7%);
  height: 40px;
  border: 1px solid hsl(0deg 0% 53% / 75%);
  border-radius: 40px 0 0 40px;
  margin-left: 32px;
  padding: 0px 4px 0px 16px;
  color: hsla(0, 100%, 100%, 0.88);

  font-size: 16px;
  line-height: 24px;
}

.searchBox input:focus {
  border: 1px solid #1c62b9;
  outline: #1c62b9;
}

.searchBoxClearButton {
  display: block;

  position: absolute;
  right: 62px;
  top: 7px;
  border: none;
  background-color: hsl(0, 0%, 7%);
  cursor: pointer;
}

.searchBoxClearButton_hidden {
  display: none;
}

.searchBoxClearButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.searchBoxClearButton svg {
  width: 24px;
  height: 24px;
  fill: #f1f1f1;
}

.searchBoxSearchButton {
  border: 1px solid hsl(0deg 0% 53% / 75%);
  border-left: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 8px 20px 8px 16px;
  height: 100%;

  background-color: hsla(0, 0%, 100%, 0.12);

  cursor: pointer;
}

.searchBoxSearchButton svg {
  width: 24px;
  height: 24px;
  fill: #f1f1f1;
}
