/* .sideBarContainer {
  display: none;
  position: fixed;

  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;

  background-color: rgb(15, 15, 15);

  padding: 0 1rem;
}

.sideBarContainerVisible {
  display: block;
  animation: fade_in_show 0.1s;
} */

/* .sideBarTogglerContainer {
  height: 56px;
  display: flex;
  align-items: center;
} */

/* .sideBarBackdrop {
  position: absolute;
  z-index: 9;
  background-color: #0f0f0f;
  opacity: 0;

  transition: opacity 200ms ease;
}

.sideBarBackdropVisible {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
} */
