.container {
  position: relative;

  max-height: calc(100dvh - 56px - 24px - 20px);

  aspect-ratio: calc(800 / 600);

  display: flex;
  justify-content: center;

  background-color: aqua;
}

.container-fixed {
  max-height: 600px;
}

.canvas-box {
  background-color: blueviolet;
  aspect-ratio: calc(800 / 600);
  max-width: 100%;
  max-height: 100%;

  position: relative;
}

.controls-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.controls-container {
  height: 50px;
  padding: 0 2rem;

  background-color: rgba(139, 46, 151, 0.534);
  /* opacity: 0.7; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls-container svg {
  width: 48px;
  height: 48px;
  fill: white;
  margin-right: 1rem;

  opacity: 0.9;
  cursor: pointer;
}

.controls-container svg:hover {
  opacity: 1;
}
