.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.skeletonBackDrop {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);

  display: flex;
  justify-content: center;
  align-items: center;
}
