.save-dialog {
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.save-dialog > * {
  padding: 8px 10px;
}

.save-dialog header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6rem;
  line-height: 2.2rem;
}

.save-dialog main {
  max-height: 300px;
  max-width: 600px;
}

.save-dialog main > :not(:last-child) {
  margin-bottom: 16px;
}

.create-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.create-btn svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.item svg {
  fill: white;
  display: block;
}

.item-checkbox svg {
  width: 24px;
  height: 24px;
}

.item-checkbox.item-checkbox--checked svg {
  fill: #3ea6ff;
}

.item-visibility svg {
  width: 18px;
  height: 18px;
}

.close-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.close-btn {
  fill: white;
}

.form > :not(:last-child) {
  margin-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper label {
  display: block;
  width: 100%;

  background-color: transparent;
  color: white;
}

.input-wrapper input {
  border: none;
  border-bottom: 1px solid #f1f1f1;
}

.input-wrapper select option {
  background-color: rgb(33, 33, 33);
  color: #f1f1f1;
}

.submit-wrapper {
  display: flex;
  justify-content: flex-end;
}
