.pageContainer {
  width: 800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.pageTopBar {
  padding: 1rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #ffc107;
}

.pageTopBar a {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.pageTopBar svg path {
  fill: #ffc107;
}

.pageRomMeta {
  padding: 1rem;
}

.container {
  width: 800px;
  height: 600px;

  position: relative;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.skeletonBackDrop {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.tagBox {
  padding: 1rem 0;
}

.tag {
  border: 1px solid cadetblue;
  display: inline-block;
  background: darkslateblue;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 15%;
  text-transform: lowercase;
  margin-right: 0.5rem;
}

.controlsGrid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 87px 100px;
  gap: 0.5rem;
  align-items: center;
}

.controlsGamepadKeyWrapper {
  border: 2px solid #9e9e9e;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 20px;
}
