@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --gallery-image-default-width: 360px;
  --gallery-image-default-height: 202px;
  --gallery-image-hover-width: 440px;
  --gallery-image-hover-height: 248px;
}

html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;

  color: white;
  background-color: #191919;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

dialog {
  border: none;
  background-color: rgb(33, 33, 33);
  color: #f1f1f1;
  border-radius: 14px;
  min-width: 210px;
}

dialog::backdrop {
  /* background-color: linear-gradient(45deg, red, blue); */
  background: linear-gradient(#e66465, #9198e5);

  opacity: 0.4;
}

dialog button[data-type="close"] {
  display: inline-block;
  background-color: rgb(50, 30, 88);
  border: none;
  cursor: pointer;
  color: white;

  padding: 0.5rem 1rem;
  font-size: 1.6rem;
}

dialog button[data-type="close"]:hover {
  background-color: rgba(50, 30, 88, 0.767);
}
