/* Main container */
.container {
  display: flex;
  flex-direction: column;

  position: relative;
}

/* Start of TopBar */

/* END OF topBar */

/* START OF sideBar */
.sideBarContainer {
  display: none;
  position: absolute;

  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: red;

  background-color: rgb(15, 15, 15);

  padding: 0 1rem;
}

.sideBarContainerVisible {
  display: block;
  animation: fade_in_show 0.1s;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scaleZ(0);
  }

  100% {
    opacity: 1;
    transform: scaleZ(1);
  }
}

.sideBarTogglerContainer {
  height: 56px;
  display: flex;
  align-items: center;
}

.sideBarSection {
  padding: 12px 0;
  color: rgb(241, 241, 241);
}

.sideBarSectionItem {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 24px;
  padding: 0 12px;

  cursor: pointer;
}

.sideBarSectionItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.sideBarSectionItem svg {
  width: 24px;
  height: 24px;
  fill: rgb(241, 241, 241);
  margin-right: 24px;
}

.sideBarBackdrop {
  position: absolute;
  z-index: 9;
  background-color: #0f0f0f;
  opacity: 0;

  transition: opacity 200ms ease;
}

.sideBarBackdropVisible {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}
/* END OF sideBar */
