/* Main container */
.container {
  display: flex;
  flex-direction: column;

  position: relative;
}

/* Start of TopBar */

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 56px;
  background-color: #0f0f0f;

  padding: 0 1rem;
}

.menuAndLogoBox {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer;
  user-select: none;
}

.menuBox svg {
  fill: white;
  width: 32px;
  padding: 4px;
  padding-top: 9px;
}

.menuBox:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.logoBox {
  height: 20px;
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 21px;
  gap: 5px;
  color: white;
}

.logoBox img {
  height: 100%;
  width: 100%;
}

.accountDropdownBoxRegistered {
  margin: 0 15px;
  position: relative;
}

.accountDropdownBoxRegistered img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.accountDropdownMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: #282828;

  top: 45px;
  right: 16px;

  max-width: 300px;
  max-height: 749px;

  padding: 1.6rem;
  border-radius: 10px;

  color: white;
}

.accountDropdownMenuHidden {
  display: none;
}

.accountDropdownMenu > *:not(:last-child) {
  border-bottom: 1px solid white;
}

.accountDropdownMenuUserBox {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;
}

.accountDropdownMenuUserBox img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.accountDropdownMenuSection {
  display: flex;
  gap: 1.6rem;
  justify-content: flex-start;
  align-items: center;
  padding: 0.75rem 0;
}

.accountDropdownMenuSection a {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 0.3rem 0.75rem;
}

.accountDropdownMenuSection:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.accountDropdownMenuSection svg {
  height: 24px;
  width: 24px;
  fill: white;
}

.accountDropdownBoxAnonBox {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border: 1px solid hsl(0deg 0% 53% / 75%);

  padding: 0px 15px;
  margin: 0 15px;
  border-radius: 40px;
  line-height: 36px;

  cursor: pointer;
}

.accountDropdownBoxAnonBox:hover {
  background-color: #3ea5ff7a;
  border: 1px solid transparent;
}

.accountDropdownBoxAnonBox svg {
  width: 24px;
  height: 24px;
  fill: #3ea6ff;
}

.accountDropdownBoxAnonBox span {
  color: #3ea6ff;
}

/* END OF topBar */

/* START OF sideBar */
.sideBarContainer {
  display: none;
  position: absolute;

  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  background-color: red;

  background-color: rgb(15, 15, 15);

  padding: 0 1rem;
}

.sideBarContainerVisible {
  display: block;
  animation: fade_in_show 0.1s;
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scaleZ(0);
  }

  100% {
    opacity: 1;
    transform: scaleZ(1);
  }
}

.sideBarTogglerContainer {
  height: 56px;
  display: flex;
  align-items: center;
}

.sideBarSection {
  padding: 12px 0;
  color: rgb(241, 241, 241);
}

.sideBarSectionItem {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 24px;
  padding: 0 12px;

  cursor: pointer;
}

.sideBarSectionItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.sideBarSectionItem svg {
  width: 24px;
  height: 24px;
  fill: rgb(241, 241, 241);
  margin-right: 24px;
}

.sideBarBackdrop {
  position: absolute;
  z-index: 9;
  background-color: #0f0f0f;
  opacity: 0;

  transition: opacity 200ms ease;
}

.sideBarBackdropVisible {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}
/* END OF sideBar */
