.container {
  padding: 0 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;

  width: fit-content;
  margin: 0 auto;
}

.article {
  width: 400px;
  border: 1px solid #ffc107;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1.3;
  object-fit: cover;
  display: block;
}

.title {
  display: inline-block;
  width: 100%;
  background-color: #1b263a;
  margin: 0;
  padding: 0.5rem 0.7rem;
  color: #ffc107;
  font-family: "Press Start 2P", cursive;
}

.paginationContainer {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.paginationContainer > *:not(:last-child) {
  margin-right: 1rem;
}

.controlsContainer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controlsContainerPlatform {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.controlsContainerPlatform select {
  font-size: 16px;
  padding: 10px 35px 10px 15%;
  appearance: none;
  background: url(/assets/down-arrow-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 93% 50%;
  background-color: orange;
}

.constrolsContainerSearchBox {
  position: relative;
  width: 221px;
}

.constrolsContainerSearchIconSearch {
  width: 18px;

  position: absolute;
  left: 8px;
  top: 10px;
}

.constrolsContainerSearchBox input {
  padding: 0 1.8rem;
  font-size: 20px;
  width: 100%;
  height: 39px;
}

.controlsContainerCloseBox {
  width: 18px;
  position: absolute;
  top: 8px;
  right: 10px;

  cursor: pointer;
}
